*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;

    position: absolute;
    top: 0px;
    width: 100%;

    z-index: 10;
}

nav a{
    text-decoration: none;
    color: white;
}

nav h2{
    font-weight: 500;
}

header nav ul{
    list-style: none;
    display: flex;
    column-gap: 4rem;
}

/* ------------------------------Banner Section---------------- */

#banner-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: url("./assets/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#banner-section h1{
    font-size: 4.2rem;
    font-weight: 500;
    color: white;
}

#banner-section h2{
    font-size: 2.2rem;
    font-weight: 500;
    color: white;
    margin-bottom: 1rem;
}

#banner-section button{
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    background-color: #1a759f;
    color: white;
}


/* --------------------------Destination Section-------------- */

#destination-section{
    margin-top: 4rem;
}

#destination-desc{
    text-align: center;
}

hr{
    max-width: 25vw;
    height: 16px;
    background-color: #184e77;
    margin: 1rem auto;
    border: none;
}

#destination-grid{
    width: 75vw;
    margin: 1rem auto;
    
    display: grid;
    grid-auto-rows: 350px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "item-1 item-2 item-2"
    "item-3 item-3 item-4";

    gap: 1.5rem;
}

#destination-grid div{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-1{
    grid-area: item-1;
    background-image: url("./assets/img/mountain1.jpg");
}

.item-2{
    grid-area: item-2;
    background-image: url("./assets/img/mountain2.jpg");
}

.item-3{
    grid-area: item-3;
    background-image: url("./assets/img/mountain3.jpg");
}

.item-4{
    grid-area: item-4;
    background-image: url("./assets/img/mountain4.jpg");
}

@media screen and (width<=1300px) {
    #destination-grid{
        grid-template-columns: 1fr 1fr;
         grid-template-areas: 
        "item-1 item-2"
        "item-3 item-4";
    }
}

@media screen and (width<=900px) {
    #destination-grid{
        grid-template-columns: 1fr;
         grid-template-areas: 
        "item-1"
        "item-2"
        "item-3"
        "item-4"
    }
}